@import "tailwindcss/preflight";
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 247, 250;
}
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
/* Fix for number input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}
